.head_cs {
  position: fixed;
    top: 80px;
    right: 47%;
  color: deepskyblue;
}
.float-left{
    float:left;
    margin:50px 60px;
}
.nav_cs  h2 {
    width: 260px;
    height: 150px;
    margin: 30px;
    color: deepskyblue;
}
.navbar a {
  color: #00868B;
}
.nav-item{
    margin:30px 10px;
    font-size:20px;
}
.navbar-nav li{
  list-style:none;
}
.first{
    margin-left:39%;
}
.panel-group{
    width:50%;
    margin-left:25%;
    margin-bottom:60px;
}
.sel_color{
  width: 65px;
  height: 25px;
  color: white;
  background: steelblue;
}
.con_color{
  color: white;
  background: steelblue;
}
.font_sz{
  font-size: 20px;
}
.text-info li{
  list-style:none;
}
.text-info a {
  color: #000000;
}
.nav_css {
  position:fixed;
  top:40px;
  right:40px;
  font-size: 20px;
}
.nav_css p {
  position:fixed;
  top:40px;
  right:95px;
  font-size: 20px;
}
.nav_css li{
  list-style: none;
}