<!DOCTYPE html>
<html>
<head>
  <title>元智校内网</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br>
        <h4 class="text-info">学生信息</h4>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">
                <a data-toggle="tooltip" data-placement="top" title="真实姓名！">姓名</a>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="孙雄飞" name="real_name">
            </div>
          </div>
          <div class="form-group">
                手机号码
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPhone" placeholder="110... 11位数字" name="mobile">
            </div>
          </div>
          <div class="form-groupp">
                性别
              <div class="radio">
                  &nbsp&nbsp&nbsp<input type="radio" name="gender" value="1">男
                  &nbsp&nbsp&nbsp<input type="radio" name="gender" value="0">女
              </div><br>
          </div>
          <div class="form-group">
                身高
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputheight" placeholder="180" name="height">
            </div>
          </div>
          <div class="form-group">
                体重
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputweight" placeholder="180 " name="weight">
            </div>
          </div>
          <div class="form-groupp">
                <a data-toggle="tooltip" data-placement="top" title="真实学历！">学历</a>
              <div class="radio">
                  &nbsp&nbsp&nbsp<input type="radio" name="degree" >中专/高中
                  &nbsp&nbsp&nbsp<input type="radio" name="degree" >专科/本科
                  &nbsp&nbsp&nbsp<input type="radio" name="degree" >硕士研究生
                  &nbsp&nbsp&nbsp<input type="radio" name="degree" >博士研究生
              </div><br>
          </div>
          <div class="form-group">
                学习经历
              <textarea class="form-control" rows="5" name="learning"></textarea>
          </div>
          <div class="form-group">
                过敏史
              <textarea class="form-control" rows="5" id="comment" name="allergies"></textarea>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" class="btn btn-info" role="button">注册</a>
            </div>
          </div>
        </form>
    </div>
</body>
</html>