<!DOCTYPE html>
<html>
<head>
  <title>元智校内网</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br>
        <h2 class="text-info">元智教育<br><small>学生</small></h2><br>
        <a href="#" class="btn btn-info" role="button">注册</a>
        <a href="#" class="btn btn-info" role="button">登录</a>
    </div>
</body>
</html>
