<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <title> 元智校内网</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/background_all.css">
    <link rel="stylesheet" href="../static/css/job_list.css">
  <script src="../static/js/jquery.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="nav_cs">
        <h2><img src="../static/image/32x51.ico" alt="Logo">&nbsp&nbsp- 元智教育 -</h2>
    </div>
    <div class="nav_css">
          <ul>
              <li>
                <a style="color: deepskyblue" href="#">注销</a>
              </li>
          </ul>
    </div>
    <div class="col-md-12 column">
      <div class="panel-group con" id="panel-853706">
        <h2 class="head_cs">作业主页</h2>
          <br>
        <div class="panel panel-default con_color">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-853706" href="#panel-element-383422">
                 2018-01-25 &nbsp&nbsp&nbsp Mysql &nbsp&nbsp&nbsp 未完成
             </a>
          </div>
          <div id="panel-element-383422" class="panel-collapse collapse">
              <div class="panel-body">
                  <a href="#" style="color: white">前往浏览详情</a>
              </div>
          </div>
        </div>
        <div class="panel panel-default con_color">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-853706" href="#panel-element-383423">
                 2018-01-25 &nbsp&nbsp&nbsp Python &nbsp&nbsp&nbsp 完成
             </a>
          </div>
          <div id="panel-element-383423" class="panel-collapse collapse">
              <div class="panel-body">
                  <a href="#" style="color: white">前往浏览详情</a>
              </div>
          </div>
        </div>
        <div class="panel panel-default con_color">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-853706" href="#panel-element-383424">
                 2018-01-25 &nbsp&nbsp&nbsp Java &nbsp&nbsp&nbsp 未完成
             </a>
          </div>
          <div id="panel-element-383424" class="panel-collapse collapse">
              <div class="panel-body">
                  <a href="#" style="color: white">前往浏览详情</a>
              </div>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>