<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
    <title> 元智校内网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/background_all.css">
    <link rel="stylesheet" href="../static/css/task_push.css">
    <script src="../static/js/jquery.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="tit_cs">
        <h2><img src="../static/image/32x51.ico" alt="Logo">&nbsp&nbsp- 元智教育 -</h2>
        <h3>题目1</h3>
        <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
    </div>
    <div class="file_cs">
        <a href="#" class="file">点击此处上传文件
            <input type="file" name="" id="">
        </a>
    </div>
    <div class="btn_pst">
          <a href="#" class="panel-group">
              <button class="btn-vip" type="button">返回上一层</button>
          </a>
    </div>
</body>
</html>